<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu">
  <ul class="side-menu-list">
    <li>
      <a href="#">
      <span class="lbl">Home</span>
      </a>
    </li>
    <li class="active">
      <a href="#">
      <span class="lbl active">Campaigns</span>
      </a>
    </li>
    <li>
      <a href="#">
      <span class="lbl">Orgnisations</span>
      </a>
    </li>
  </ul>
  <div class="nav-btm-list-container">
    <div class="inner-list">
      <ul class="nav-btm-list">
        <li><a href="#">Terms & conditins</a></li>
        <li><a href="#">Business terms & conditins</a></li>
        <li><a href="#">Privacy policy</a></li>
      </ul>
      <p>&copy PolicyMogul 2019</p>
    </div>
  </div>
</nav>