<!--.side-menu-->
<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="page-content-inner">
          <h1>Create a new campaign</h1>
          <form>
            <div class="form-group">
              <label>Title</label>
              <input type="text" name="" class="form-control" />
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" placeholder="Enter much information here."></textarea>
              <small>Surround content with an asterick on each side to make it <span style="font-style: italic;">Italic.</span> Surround content with an asterick on each side to make it <span style="font-weight: bold;">bold.</span></small>
            </div>
            <div class="form-group">
              <label>This campaign will be accessible to:</label>
              <div class="campaign-box">
                <div class="radio-boxes">
                  <label class="custom-radio">Everyone<br/>
                  <span>This campaign will be visible to other PloicyMogul users and may be indexed by search engines. Specific documents, collaborators and other information you choose can be made available to campaign collabrator only.</span>
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark"></span>
                  </label>
                </div>
                <div class="radio-boxes">
                  <label class="custom-radio">Parlimentaries and collaboratory only<br/>
                  <span>This campaign will be visible to other PloicyMogul users and may be indexed by search engines. Specific documents, collaborators and other information you choose can be made available to campaign collabrator only.</span>
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                  </label>
                </div>
                <div class="radio-boxes">		
                  <label class="custom-radio">Collaborators only<br/>
                  <span>This campaign will be visible to other PloicyMogul users and may be indexed by search engines. Specific documents, collaborators and other information you choose can be made available to campaign collabrator only.</span>
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Tags that describe this campaign:</label>
              <textarea id="tags-editor-textarea" class="tag-editor-hidden-src">example,example,example</textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-3">
        <h4><i class="fas fa-long-arrow-alt-left"></i> Back to campaign</h4>
      </div>
    </div>
  </div>
  <!--.container-fluid-->
</div>
<!--.page-content-->